Dear apartment owner,
<div><br></div>

<div>
  I&#39;d like to encourage you to list your apartment on <a href="http://cozi.ly">Cozily</a>.
  It&#39;s a brand new application, made specifically for the New York market.
  We&#39;re really excited about launching and I hope you&#39;ll take a look.
</div>

<div>
  <ul>
    <li>It&#39;s totally <b>free</b> to use.</li>
    <li>We manage your communication about the apartments through the application.</li>
    <li>We keep track of the views of your listings and the number of times they&#39;ve
    been favorited by prospective tenants.</li>
    <li>We email users who are looking for an apartment like yours immediately
    after you publish your listing.</li>
    <li>Broadcast your listings on Facebook and Twitter</li>
  </ul>
  Feel free to contact me directly with any questions. I look forward to your feedback.
</div>
<div><br></div>

<div><a href="http://cozi.ly">Cozily</a> is brand new and quite exciting. Check us out!</div>
<div><br></div>

<div>Thanks,</div>
<div><br></div>
<div>The Cozily Team</div>
<div><a href="http://cozi.ly">http://cozi.ly</a></div>
<div><br></div>
<div><br></div>
<div><i>* Please note that <a href="http://cozi.ly">Cozily</a> does not allow listings for apartments with broker fees or vacation rentals.</i></div>
