Dear apartment hunter,
<div><br></div>

<div>
I&#39;d like to encourage you to check out <a href="http://cozi.ly">Cozily</a>
for finding apartments. It&#39;s a new application, made specifically for the
New York market. We&#39;re really excited about launching and I hope you&#39;ll take a look.
</div>

<div>
  <ul>
    <li>It&#39;s totally <b>free</b> to use.</li>
    <li>We email you when apartments are listed that match your specifications.</li>
    <li>We geocode all apartments so you know the exact location of the apartment including
    neighborhood and proximity to trains and restaurants.</li>
    <li>We manage your communication about the apartments through the application.</li>
    <li>We keep track of your favorite apartments.</li>
  </ul>
  Feel free to contact me directly with any questions. I look forward to your feedback.
</div>
<div><br></div>

<div>Quit checking Craigslist every five minutes. Tell <a href="http://cozi.ly">us</a> what
  you're looking for. We'll find it for you.
</div>
<div><br></div>

<div>Thanks,</div>
<div><br></div>

<div>The Cozily Team</div>
<div><a href="http://cozi.ly">http://cozi.ly</a></div>
<div><br></div>
<div><br></div>

<div>
  <i>* Please note that <a href="http://cozi.ly">Cozily</a> does not allow listings for apartments with broker fees or vacation rentals.</i>
</div>
